<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1 style="line-height: 1.5">Lo sentimos <%= @user.first_name%> el trabajo al que postulaste fue cancelado</h1>
    <p>¡No te preocupes el próximo trabajo seguro se realizará!</p>
    <%= render "partials/footer" %>
  </body>
</html>
