<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1>¡Bienvenido <%= @user.first_name %>!</h1>
    <p>Gracias por registrarte en noc-noc ahora podrás formar parte de nuestro equipo. Nos contactaremos contigo para continuar con el proceso</p>
    <%= render "partials/footer" %>
  </body>
</html>
