<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="mail-header" style="text-align: center; background: #eeee; padding: 20px;">
      <%= image_tag("https://s3.amazonaws.com/noc-noc/logo/LogoNocNoc.png", alt: 'logo', width: '120')%>
    </div>
    <h1>¿<%= @user.first_name %> olvidaste tú contraseña?</h1>
    <p>¡No te preocupes! Ingresa el pin que llegará a tú correo electrónico o teléfono celular para recuperarla: <%= @pin %> </p>
    <p>Si tú no lo solicitaste, por favor ignora este mensaje</p>
    <%= render "partials/footer" %>
  </body>
</html>
