<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por ingresar, <%= @user.first_name %>!</h1>
    <p>Ahora entra y solicita los mejores servicios para ti</p>
  </body>
</html>