<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "partials/header" %>
    <h1 style="line-height: 1.5; font-size: 18px">Hola <%= @user.first_name %>,</h1>
    <div>
      <p>Tu contraseña ha sido actualizada exitosamente</p>
    </div>
    <p>Si tú no realizaste este cambio puede ser que alguien más tenga acceso a tu cuenta. Si piensas que este es el caso, por favor envianos un email a info@nocnoc.com.ec y te ayudaremos,</p>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>