<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Han aceptado un trabajo al que te has postulado</h1>
    <p>Ingresa en la siguiente url para visualizarlo: <%= @url %></p>
  </body>
</html>