<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Un trabajo nuevo ha sido registrado</h1>
    <p>Ingresa en la siguiente url para postularte: <a href="<%= @url %>"><%= @url %></a></p>
  </body>
</html>