<style type="text/css" media="all">
  .inline {
    display: inline-block;
  }

  .color-blue {
    color: #0066ab;
  }

  .logo-img {
    width: 50px;
  }
</style>
<br>
<div id="social-media">
  <p><b>Saludos,</b></p>
  <p><b class='color-blue'>Noc Noc</b></p>
  <br>
  <div>
    <div class="inline"><a href="https://www.facebook.com/appnocnoc/"><img src="https://hopeec-production.herokuapp.com/img/facebook-icon.png" class="logo-img"></a></div>
    <%#<div class="inline"><img src="https://hopeec-production.herokuapp.com/img/twitter-icon.png" class="logo-img"></div>%>
    <div class="inline"><a href"https://www.instagram.com/nocnoc_ec/"><img src="https://hopeec-production.herokuapp.com/img/instagram-icon.png" class="logo-img"></a></div>
  </div>
  <br>
  <p>Todos los derechos reservados. © noc-noc® Ecuador.</p>
  <br>
  <a href="https://www.nocnoc.com.ec/politicas#policies">Términos y Condiciones</a>
</div>
