<style type="text/css" media="all">
  .inline {
    display: inline-block;
  }

  .color-blue {
    color: #0066ab;
  }

  .logo-img {
    width: 50px;
  }
</style>
<br>
<div id="social-media">
  <p><b>Saludos,</b></p>
  <p><b class='color-blue'>Noc Noc</b></p>
  <br>
  <div>
    <div class="inline"><%= image_tag "img/facebook-icon.png", class: "logo-img" %></div>
    <div class="inline"><%= image_tag "img/twitter-icon.png", class: "logo-img" %></div>
    <div class="inline"><%= image_tag "img/instagram-icon.png", class: "logo-img" %></div>
  </div>
  <br>
  <p>Todos los derechos reservados. © noc-noc® Ecuador.</p>
  <br>
  <a href="https://www.nocnoc.com.ec/politicas">Términos y Condiciones</a>
</div>
