<style type="text/css" media="all">
  .logo-img {
    width: 50px;
  }
</style>
<table width="100%">
  <tr>
    <td><b>Saludos,</b></td>
  </tr>
  <tr>
    <td colspan="2" color="#0066ab"><b>Noc Noc</b></td>
  </tr>
  <tr>
    <td style="width: 60px"><a href="https://www.facebook.com/appnocnoc/" target="_blank"><img src="https://hopeec-production.herokuapp.com/img/facebook-icon.png" class="logo-img"></a></td>
    <td style="width: 60px"><a href="https://www.instagram.com/nocnoc_ec/" target="_blank"><img src="https://hopeec-production.herokuapp.com/img/instagram-icon.png" class="logo-img"></a></td>
  </tr>
  <tr>
    <td colspan="2"><b>Todos los derechos reservados. © noc-noc® Ecuador.</b></td>
  </tr>
  <tr>
    <td><b><a href="https://www.nocnoc.com.ec/politicas#policies">Términos y Condiciones</a></b></td>
  </tr>
</table>