<style type="text/css" media="all">
  .inline {
    display: inline-block;
  }

  .color-blue {
    color: #0066ab;
  }

  .logo-img {
    width: 50px;
  }
</style>
<br>
<div id="social-media">
  <p><b class='color-blue'>Saludos,</b></p>
  <p><b class='color-blue'>Noc Noc</b></p>
  <br>
  <div>
    <div class="inline"><img class='logo-img' src="img/facebook-icon.png" alt="Facebook"></div>
    <div class="inline"><img class='logo-img' src="img/twitter-icon.png" alt="Twitter"></div>
    <div class="inline"><img class='logo-img' src="img/instagram-icon.png" alt="Instagram"></div>
  </div>
  <br>
  <p>Todos los derechos reservados. © noc-noc® Ecuador.</p>
  <br>
  <a href="https://www.nocnoc.com.ec/politicas">Términos y Condiciones</a>
</div>
