<style type="text/css" media="all">
  .color-grey {
    color: rgba(0, 0, 0, 0.54);
  }
  .inline-hero {
    display: inline-block;
    width: 300px;
    padding: 50px;
  }

  .hero-icons {
    width: 70px;
  }

  .color-blue {
    color: #0066ab;
  }

  .logo-img {
    width: 50px;
  }
</style>
<center class="color-grey">
  <div class="inline-hero">
    <%= image_tag "Icono-07.5925a389.svg", class: 'hero-icons' %>
    <center><b class="color-blue">Profesionales con experiencia</b></center>
    <br>
    <center>Personas que tienen como principal objetivo<br>
      <b>Tu satisfacción</b></center>
  </div>
  <div class="inline-hero">
    <%= image_tag "Icono-02.7bed2af6.svg", class: 'hero-icons' %>
    <center><b class="color-blue">Disponibilidad al día</b></center>
    <br>
    <center>Tú eliges el día que necesitas nuestra visita</center>
  </div>
  <div class="inline-hero">
    <%= image_tag "Icono-04.e69eff40.svg", class: 'hero-icons' %>
    <img class=src="svg/Icono-04.e69eff40.svg" alt="">
    <center><b class="color-blue">Seguro de Protección</b></center>
    <br>
    <center>Noc Noc garantiza el servicio con nuestro seguro de protección.</center>
  </div>
</center>
