<style type="text/css" media="all">
  .color-grey {
    color: #777;
  }
  .inline-hero {
    display: inline-block;
    width: 300px;
    padding: 50px;
  }

  .hero-icons {
    width: 70px;
  }

  .color-blue {
    color: #0066ab;
  }

  .logo-img {
    width: 50px;
  }
</style>
<center class="color-grey">
  <div class="inline-hero">
    <img src="https://hopeec-production.herokuapp.com/img/Icono-07.png" class="hero-icons">
    <center><b class="color-blue">Profesionales con experiencia</b></center>
    <br>
    <center>Personas que tienen como principal objetivo<br>
      <b>Tu satisfacción</b></center>
  </div>
  <div class="inline-hero">
    <img src="https://hopeec-production.herokuapp.com/img/Icono-02.png" class="hero-icons">
    <center><b class="color-blue">Disponibilidad al día</b></center>
    <br>
    <center>Tú eliges el día que necesitas nuestra visita</center>
  </div>
  <div class="inline-hero">
    <img src="https://hopeec-production.herokuapp.com/img/Icono-04.png" class="hero-icons">
    <center><b class="color-blue">Seguro de Protección</b></center>
    <br>
    <center>Noc Noc garantiza el servicio con nuestro seguro de protección.</center>
  </div>
</center>
