<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hola <%= @user.first_name%>!</p>

    <p>Solicitaste recuperar tu contraseña. Haz clic en el siguiente link: </p>

    <p><a href="<%= @url %>">Cambiar mi contraseña</a></p>

    <p>Si no solicitaste esta acción, por favor comunícate con nosotros a <a href=href="mailto:info@nocnoc.com.ec?subject=Info&amp;">info@nocnoc.com.ec</a>.</p>

    <p><strong>Saludos,</strong></p>
    <p><strong>Noc Noc</strong></p>
    <%= image_tag("https://s3.amazonaws.com/noc-noc/logo/LogoNocNoc.png", width: '120')%>
  </body>
</html>
