<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hola <%= @user.first_name%>!</p>

    <p>Solicitaste cambiar la contraseña en nuestra app, puedes cambiarla en el link debajo </p>

    <p><a href="<%= @url %>">Cambiar mi contraseña</a></p>

    <p>Si tu no solicitaste esto, por favor ignora este correo.</p>

    <p>Tu contraseña no cambiara si no lo autorizas en el link de arriba.</p>
  </body>
</html>