<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>, tu registro fue éxitoso</h1>
    <p>Bienvenido a la plataforma Noc Noc donde podrás solicitar
    servicios con los mejores profesionales para ti. Para ingresar da clic <strong><a href="<%=@url%>">Aquí</a></strong></p>
  </body>
</html>