<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Un nuevo trabajo se ha creado automaticamente!</h1>
    <p>Miralo aqui: <a><%= @url %></a></p>
    <p>Si deseas cancelar el trabajo y que no se generen mas, haz click aqui: <a><%= @url_cancel %></a></p>
  </body>
</html>