<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css" media="all">
      .color-grey {
        color: rgba(0, 0, 0, 0.54);
      }
    </style>
  </head>
  <body>
    <%= render "partials/header" %>
    <h1>¡Bienvenido <%= @user.first_name %>!</h1>
    <p>Gracias por registrarte en noc-noc. Ahora podrás contratar los mejores servicios para tú comodidad con las garantías que solamente nuestra plataforma te puede dar</p>
    <br>
    <%= render "partials/hero" %>
    <%= render "partials/footer" %>
  </body>
</html>
