<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Te han calificado por un trabajo</h1>
    <p>Ingresa en la siguiente url para verlo: <a href="<%= @url %>"><%= @url %></a></p>
    <p>Recomendamos calificar al agente si aun no lo has hecho</p>
  </body>
</html>